﻿body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

#title{
    background : #eee;
    height:60px;
}

#judul{
    font-size:18px;
    font-weight:bold;
    padding-top:20px;
    padding-left:10px;
    font-family:sans-serif;
}

#main{
    width:100%
}

.itemTemplate{
    width:450px; 
    height:300px; 
    position:relative;
    padding:5px;
}

.itemTemplate img
{
    width:450px; 
    height:300px;
}

.keterangan{
    position:absolute; 
    bottom:3px; 
    color:#fff;
    padding:15px;
}

*{
    margin: 0 auto;
    padding: 0;
}

#panorama {
    width: 100%;
    height: 100%;
}

.custom {
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 5px;
    background: 'yellow';
    border-radius: 50%;
    cursor: default;
    border: 3px solid #fff;
    box-shadow: 2 1 2 rgba(0,0,0,0.1);
}

div.custom-tooltip div {
    /*visibility:hidden;*/
    top: -40;
    left: -60;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    min-width: 150px;
    max-width: 200px;
    padding: 5px 10px;
    cursor: default;
}

div.custom-tooltip span {
    position: relative;
    border-radius: 3px;
    color: #000;
    text-align: center;
    cursor: default;
}

div.custom-tooltip:hover div {
    visibility: visible;
}

div.custom-tooltip span:hover div:after {
    content: 'block';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}